body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    justify-items: center;
}

body div {
    justify-self: center;
}

.body__qr {
    padding-top: 100px;
    border: 0;
    width: 640px;
    height: 640px;
    padding-left: 180px;
}